body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  height:154px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:154px;
}
#u1 {
  position:absolute;
  left:2px;
  top:69px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:374px;
  width:60px;
  height:30px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:10px;
  top:374px;
  width:170px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:124px;
  top:174px;
  width:220px;
  height:38px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:38px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:124px;
  top:222px;
  width:220px;
  height:38px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:38px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:174px;
  width:94px;
  height:22px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:222px;
  width:94px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:282px;
  width:94px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:124px;
  top:282px;
  width:220px;
  height:76px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:76px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:656px;
  width:94px;
  height:22px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:678px;
  width:334px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:317px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:334px;
  height:1px;
}
#u19 {
  position:absolute;
  left:10px;
  top:698px;
  width:334px;
  height:128px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:128px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:260px;
  top:374px;
  width:60px;
  height:30px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:10px;
  top:510px;
  width:230px;
  height:22px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:532px;
  width:334px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:317px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:334px;
  height:1px;
}
#u25 {
  position:absolute;
  left:10px;
  top:552px;
  width:339px;
  height:95px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:222px;
  top:0px;
  width:112px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:111px;
  top:30px;
  width:111px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:222px;
  top:30px;
  width:112px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:60px;
  width:111px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:111px;
  top:60px;
  width:111px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:222px;
  top:60px;
  width:112px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:424px;
  width:100px;
  height:26px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:110px;
  top:424px;
  width:120px;
  height:20px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:450px;
  width:310px;
  height:50px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
